.footer {  
  display: flex;  
  justify-content: space-between;  
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #141414;
  text-align: left;
  padding: rem(7px) 0;
}
.footer__container {
  flex-direction: row;
}

.footer__left, .footer__right {
  width: 50%;
}
.contacts {
  color: #fff;
  font-size: rem(14px);
  @include ubuntu;
}

.footer__contacts-adress {
  font-weight: 300;
  margin-bottom: rem(5px);
}

.footer__contacts-phone {
  font-weight: 700;
  color: #e45028;
}
.footer__right {
  text-align: right;
}
.footer__contacts-phone-pic {
  width: rem(10px);
  height: rem(12px);
}