.menu-accordeon {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	@include phones {
		left: 0;
	}
}

.menu-accordeon__list {
	height: 100%;
	display: flex;
	justify-content: flex-end;
}

.menu-accordeon__item {
	height: 100%;
	display: flex;
	color: $white;
}

.menu-accordeon__trigger {
	width: rem(80px);
	@include gagalin;
	font-weight: 400;
	font-size: rem(40px);
	color: $white;
	text-decoration: none;
	white-space: nowrap;
	writing-mode: vertical-lr;
	transform: rotate(180deg);
	align-items: center;
	padding-top: rem(40px);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	/* for work in firefox (bug) */
	display: inline-block;
	line-height: 80px;
	@include phones {
		width: rem(40px);
		line-height: 40px;
		font-size: rem(34px);
	}
}

.menu-accordeon__item-content {
	height: 100%;
	background: rgba(47, 50, 52, 0.93);
	width: 0;
	transition: .5s;
	overflow: hidden;
	display: inline-flex;
}

.menu-accordeon__item-description {
	width: 100%;
	padding: rem(50px) rem(25px) 0;
	font-size: rem(14px);
	@include ubuntu;
	font-weight: 300;
	line-height: 24px;
	opacity: 0;
	transition: .2s;
	transition-delay: .4s;
}

.menu-accordeon__item--active {
	.menu-accordeon__trigger {
		color: $yellow;
	}
	.menu-accordeon__item-content {
		width: 540px;
	}
	.menu-accordeon__item-description {
		opacity: 1;
	}
}

.menu--up {
	position: absolute;
    top: 10%;
    left: 10%;
}

.menu-accordeon__item--active {
	@include tablets {
	position: absolute; 
	left: 0; 
	top: 0; 
	width: 100%; 
	height: 100%;  
	z-index: 9999999;
	}
}